@import "~bootstrap/scss/bootstrap";
$grey: rgb(29, 22, 36);
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;
$rounded-corners: false;

  .button {
    border: 1px solid black;
    border-radius: if($rounded-corners, 5px, null);
  }
